<h1>Compose</h1>


<form action="/compose" method="post">

  <div class="form-group">
    <label >Lecture</label>
    <input type="number" name="lecture">
    <label >Part</label>
        <input type="number" name="part">

    <label>Question</label>
    <textarea class="form-control" name="question" rows="5"></textarea>
    <label>Answer</label>
    <textarea class="form-control" name="answer" rows="5"></textarea>
    <label>Link</label>
    <textarea class="form-control" name="link" ></textarea>
    <label>Id</label>
    <textarea class="form-control" name="telegramId" ></textarea>
    <label >Minutes</label>
        <input type="number" name="minutes">
        <label >Seconds</label>
            <input type="number" name="seconds">
            <input type="checkbox" name="isAnswered" value="true">
            <label for="vehicle1"> Answered</label><br>
            <input type="checkbox" name="isAskedByBot" value="true">
<label for="vehicle1">Asked by bot</label><br>
    <br>




  </div>

  <button class="btn btn-primary pull-right" type="submit" name="button">Publish</button>


</form>
