<%- include('partials/home_header'); -%>
</ul>
</div>
</nav>

<body>
<div class="container">
<div>
  <h1 class="headline">הרצאות מבנה מחשב</h1>

</div>

<div class="col-md-10 col-sm-8 col-xs-6 content">
  <%lectures.forEach(function(lecture){%>
  <h1 class="text-right"><a href="/lectures/<%=lecture.lectureNumber%>"> הרצאה <%=lecture.lectureNumber%></a></h1>

  <%});%>

</div>

<%- include('partials/footer'); -%>
